.quote {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 82vh;
  justify-content: space-between;
  background-color: #4b72b480;
  max-width: 94%;
  border-radius: 50px;
  margin: 0 auto 20px;
  padding: 20px 0 20px;
}

.quote__title {
  font-size: 54px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.quote__container {
  max-width: 60%;
  line-height: 1.2;
}

.quote__text {
  font-size: 36px;
}

.quote__author {
  text-align: end;
  font-size: 24px;
  margin: 0;
  padding-top: 40px;
}

.quote__button {
  border: none;
  height: 64px;
  background-color: #2f71e5;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 0 56px;
  color: #fff;
  width: 250px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.quote__button:hover {
  background-color: #347eff;
}

@media screen and (max-width: 400px) {
  .quote__text {
    font-size: 28px;
  }

  .quote__author {
    padding: 20px 0 15px;
  }
}
