.app {
  font-size: 16px;
  line-height: 20px;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #0c1e30;
}

.app__content {
  max-width: 1280px;
  margin: auto;
}
