.navbar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 25px 2.5% 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.navbar__logo {
  font-family: "Roboto Slab";
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  padding-bottom: 25px;
}
.navbar__links {
  display: flex;
  min-width: 350px;
  justify-content: space-evenly;
  align-self: stretch;
}

.navbar__link {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  padding-bottom: 25px;
  width: 92px;
  text-align: center;
  font-weight: 700;
}
.navbar__link_active {
  border-bottom: #fff solid 3px;
}

.navbar__menu {
  background: transparent;
  border: none;
  height: 28px;
  width: 28px;
  padding: 0;
  display: none;
}

.navbar__menu:hover {
  cursor: pointer;
}

.navbar__menu-icon {
  height: 28px;
  width: 28px;
  padding: 0;
}

@media screen and (max-width: 740px) {
  .navbar__links {
    display: none;
  }

  .navbar__menu {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .navbar__logo {
    font-size: 24px;
  }
}
