.navbar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 25px 2.5% 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.navbar__logo {
  font-family: "Roboto Slab";
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  padding-bottom: 25px;
}
.navbar__links {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
  align-self: stretch;
}

.navbar__link {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  padding-bottom: 25px;
  width: 92px;
  text-align: center;
  font-weight: 700;
}
.navbar__link_active {
  border-bottom: #fff solid 3px;
}

.navbar__menu-button {
  background: transparent;
  border: none;
  height: 28px;
  width: 28px;
  padding: 0;
  display: none;
}

.navbar__menu-button {
  cursor: pointer;
}

.navbar__menu-icon {
  height: 28px;
  width: 28px;
  padding: 0;
}

.navbar__menu {
  position: absolute;
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  top: 70px;
  background-color: #0c1e30;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease-in, visibility 0s 0.15s;
}

.navbar__menu_active {
  opacity: 0.9;
  visibility: visible;
  transition: opacity 0.15s ease-in;
}

.navbar__menu-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: color 0.15s linear;
}

.navbar__menu-link:hover {
  color: rgb(187, 187, 187);
}

@media screen and (max-width: 740px) {
  .navbar__links {
    display: none;
  }

  .navbar__menu-button {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .navbar__logo {
    font-size: 24px;
  }
}
