.navbar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 25px 40px 0 40px;
  background-color: rgba(0, 0, 0, 0.15);
}

.navbar__logo {
  font-family: "Roboto Slab";
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}
.navbar__links {
  display: flex;
  min-width: 350px;
  justify-content: space-evenly;
  align-self: stretch;
}

.navbar__link {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  padding-bottom: 25px;
  width: 92px;
  text-align: center;
  font-weight: 700;
}
.navbar__link_active {
  border-bottom: #fff solid 3px;
}
